.TodoItem{
    background: #f0f0f0cc;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    list-style: none;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.TodoItem:hover{
    background: #d4d4d4d7;
    cursor: pointer;
}
.ContentButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
span:hover{
    transform: scale(1.2);
}
.ItemComplete{
    background: #39d439;
    color: #fff;
}
.ItemComplete:hover{
    background: #30ed30;
}
.ItemDeleted{
    border: 2px solid red;
    color: red;
}